# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage
*.lcov
.nyc_output

# Dependency directories
node_modules/
bower_components/
jspm_packages/
web_modules/

# Build directories
dist
dist-ssr
build/Release

# Cache directories
.cache
.parcel-cache
.temp
.svelte-kit/
.vitepress/dist
.vitepress/cache
.docusaurus
.serverless/
.fusebox/
.dynamodb/
.firebase/

# TypeScript cache
*.tsbuildinfo

# Optional caches
.npm
.eslintcache
.stylelintcache
.node_repl_history

# Environment files
.env
.env.*
!.env.example

# Editor directories
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
